/.cproject
/.project
#*.spec
run.sh
.cproject
.metadata/*
.project
Debug/
*~
make_tests.sh
nbproject/private/configurations.xml
nbproject/configurations.xml
nbproject/private/launcher.properties
nbproject/private/Default.properties
nbproject/private/private.xml
nbproject/project.xml
nbproject/private/CodeAssistancePathMapper.properties
build/
.settings/
/debug/
/logs/
/sanitycheck.xml
*.config
*.files
*.creator
*.creator.user
*.includes
*.autosave

